@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  z-index: 1;
}
/* main {
  max-width: 1400px;
  margin: 0 auto;
} */
main header {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
}
main header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main header nav a {
  text-decoration: none;
  color: #000;
}

main header nav li {
  display: inline-block;
}

main header nav .left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main header nav .left a {
  text-transform: uppercase;
  font-weight: 500;
  /* padding-left: 15px; */
}

/* main header nav .left-links a:hover {
  border-bottom: 7px solid #0c784c;
} */
main header nav .left-links .active {
  border-bottom: 7px solid #0c784c;
}
main header nav .left ul {
  padding: 0;
}
main header nav .left ul li {
  margin-right: 15px;
}
main header nav .left .left-links .menu {
  padding-left: 0;
}
main header nav .left .logo {
  max-width: 100px;
}
main header nav .left .logo img {
  max-width: 100px;
}
main header nav .burger {
  display: none;
}
main header nav .right-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main header nav .right-links .find {
  display: flex;
  align-items: center;
}
main header nav .right-links .find a {
  font-size: 13px;
}

main header nav .right-links .find ul {
  padding: 6px;
}
.btn {
  padding: 5px 15px;
  border: 1px solid #000;
  border-radius: 50px;
}
main header nav .right-links .in {
  padding: 5px 10px;
}
main header nav .right-links .up {
  margin-left: 10px;
  color: #fff;
  background-color: #000;
}
.sticky {
  position: sticky;
  top: 0;
  background-color: #1e3932;
  padding: 10px 0;
  z-index: 99;
  color: #fff;
}
.sticky h1 {
  max-width: 1150px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
}
.hero {
  background-image: url(./img/starbucks-desktop.png);
  height: 100vh;
  background-size: cover;
  position: relative;
  background-color: #d5eae3;
}
.hero .text {
  position: absolute;
  max-width: 1400px;
  margin: 0 auto;
  transform: translateY(-50%);
  top: 50%;
  left: 5%;
}
.hero .text h1 {
  max-width: 290px;
  letter-spacing: 5px;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}
.hero .text p {
  font-size: 1rem;
  padding: 10px 0;
}
.hero .text .join {
  border: 1px solid;
  background-color: #0c784c;
  color: #fff;
  text-decoration: none;
  margin: 20px 0;
}
.hero .text .app {
  color: #000;
}
.hero .text .app:hover {
  text-decoration: none;
}
.started {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
}
.started .head {
  text-align: center;
  margin: 80px 0;
}
.started .head h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.started .head p {
  font-size: 16px;
}
.started .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin: 0;
}
.started .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.started .card img {
  width: 50px;
}
.started .card .description {
  line-height: 25px;
}
.started .card .card-links {
  color: #0c784c;
}
.started .card .card-links:hover {
  text-decoration: none;
}
.fav {
  padding-top: 40px;
  padding-bottom: 40px;
}
.fav .head {
  background-color: #f1f8f5;
  text-align: center;
  padding: 15px;
}

.fav .head h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 60px;
  margin-top: 15px;
  padding-top: 10px;
}
.fav .head ul {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;

  justify-content: space-between;
}
.fav .head ul li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
}
.fav .head ul li a {
  color: #000;
  text-decoration: none;
}
.fav .head span {
  color: #cba258;
  margin-left: -5px;
}
.fav .head ul li.active {
  border-bottom: 5px solid #0c784c;
}

.fav .head ul li a:hover {
  color: #1e3932;
}
.fav .drink {
  background-color: #d4e9e2;
  padding: 40px;
}
.fav .drink .container {
  display: flex;
  max-width: 750px;
  margin: 0 auto;
  align-items: center;
}

.fav .drink .img img {
  width: 380px;
}
.fav .drink .content {
  margin-left: 30px;
}
.fav .drink .content .title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.extra {
  padding: 60px 0;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.extra h4 {
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: 600;
}
.extra p {
  max-width: 700px;
  font-size: 16px;
  line-height: 24px;
}
.extra-list {
  padding: 30px;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px; */
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
.extra .extra-list .list img {
  width: 130px;
}
.extra .extra-list .list h3 {
  font-size: 24px;
  font-weight: 500;
}
.extra .extra-list .list p {
  max-width: 900px;
}
.extra .extra-list .list a {
  color: #468e81;
}

.extra .extra-list .list a:hover {
  text-decoration: none;
}
.table {
  padding: 40px;
  background-color: #f3f1ed;
}
.table .table-col {
  display: grid;
  grid-template-columns: 250px 500px 500px;
  margin-top: 100px;
  column-gap: 40px;
}
.table .border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.table .table-col .row-text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.table .table-col .row-text p:nth-child(1) {
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}
.table .table-col .row-text p:nth-child(2) {
  line-height: 26px;
  max-width: 350px;
}
.table .table-col .row-text p span {
  font-size: 20px;
}
.table .table-col .row-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.table .table-col .row-content .row-img img {
  width: 112px;
}
/* responsive */
@media screen and (max-width: 420px) {
  main header {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  main header nav .left-links {
    display: none;
  }
  main header nav .right {
    display: none;
  }
  main header nav .burger {
    display: block;
  }
  main header nav .burger i {
    font-size: 1.5rem;
  }
  .hero {
    background-image: url(./img/starbucks-mobile.png);
    background-size: cover;

    background-position: center;
    height: 600px;
  }
  .hero .text {
    max-width: 400px;
    margin: 0 auto;
  }
  .started {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .started .head {
    text-align: center;
    margin: 80px 0;
  }
  .started .head h1 {
    font-size: 2rem;
    font-weight: 500;
  }
  .started .head p {
    font-size: 16px;
  }
  .started .grid-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
  }
  .fav .drink .container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: 0 auto;
    align-items: center;
  }

  .fav .drink .img img {
    width: 380px;
  }
  .extra-list {
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
  }
  .table .table-col {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 50px;
  }
}
